<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chinawanbang.casecollection.collection.dao.CollectionDao">
    <insert id="addPerson">
        insert into wbcms.casecollection_person (id, openId, trueName, hospital, portrait, pptUrl) values 
            (#{person.id},#{person.openId},#{person.trueName},#{person.hospital},#{person.portrait},#{person.pptUrl})
    </insert>
    <select id="personDetail" resultType="com.chinawanbang.casecollection.system.entity.Person">
        select id, openId, trueName, hospital, portrait, pptUrl from wbcms.casecollection_person 
            where id = #{id} and del_flag = 1 ORDER BY insert_time DESC LIMIT 1
    </select>
    <update id="delppt">
        update wbcms.casecollection_person set del_flag = 0, update_time = now() where id = #{id}
    </update>
    <select id="personList" resultType="com.chinawanbang.casecollection.system.entity.Person">
        select trueName, hospital, pptUrl, if(update_time is null, insert_time, update_time) 'insertTime' 
            from wbcms.casecollection_person where del_flag = 1
            <if test="map.insertTime!=null and map.insertTime!=''">
                and if(update_time is null, insert_time, update_time) like CONCAT(#{map.insertTime},'%')
            </if>
            order by insertTime desc
            limit #{map.offset}, #{map.limit}
    </select>
    <select id="count" resultType="int">
        select count(1) from wbcms.casecollection_person where del_flag = 1
            <if test="map.insertTime!=null and map.insertTime!=''">
                and if(update_time is null, insert_time, update_time) = #{map.insertTime}
            </if>
    </select>
</mapper>