<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>徐州地铁运营公司通讯录</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css"> 
	<link rel="stylesheet" href="/css/plugins/bootstrap-table/bootstrap-table.min.css">
	<!-- 引入bootstrap样式 -->
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link href="/css/plugins/style.css" type="text/css" rel="stylesheet"/>
	<script src="https://cdn.staticfile.org/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script> 
	<script src="https://cdn.bootcdn.net/ajax/libs/jquery-dropdown/2.0.3/jquery.dropdown.js"></script>   
    <script src="/js/plugins/print.js"></script>
    <script src="/js/plugins/layer/layer.js"></script>
    <script src="/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
    <script src="/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script>
	     $(function () {
	         $(".dropdown").mouseover(function () {
	            $(this).addClass("open");
	         });
	         $(".dropdown").mouseleave(function(){
	            $(this).removeClass("open");
	         });
	         // $(".dropdown").dropdown("toggle");
	         $(".dropdown-toggle").one("click",function(){
		        $(this).dropdown("toggle");
		     });
	     })
	</script>
    <style>
     #all {margin: 15px auto; padding:0;}
     #dh {font-size:160%;}
    </style>
</head>		
<body style='overflow:auto;'>
<div id='all' style="width:1450px;min-height: 700px;">
    <div>
		<h1 id='text' class="text-center">徐州地铁运营公司通讯录</h1>
    </div>
    <div class="wrapper wrapper-content">
		<div class="col-sm-100">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar form-inline">
					    <input id="offic" type="hidden" value='sy'>
                        <div class="form-group" style="margin-left:66%;position:relative; top:-10px;">
                            <div>
                                <select id="option" name="option" data-placeholder="搜索项" 
                                	class="form-control chosen-select" tabindex="1">
                                    <option value="0">搜索项</option>
                                    <option value="1">姓名</option>
                                    <option value="2">职务</option>
                                    <option value="3">办公室</option>
                                    <option value="4">联系电话</option>
                                    <option value="5">集团短号</option>
                                    <option value="6">办公电话</option>
                                    <option value="7">内线号码</option>
                                    <option value="8">QQ</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2" style="position:relative; top:-10px;">
                            <input id="name" type="text" class="form-control" placeholder="请输入搜索内容">
                        </div>
					    <div class="col-sm-3" style="margin-right:-15%;position:relative; top:-10px;">
	                        <button class="btn btn-primary" onclick="query()">查询</button>&nbsp;
	                        <button type="button" class="btn btn-primary" onclick="bookprint()">
	                            <i class="fa fa-plus hidden" aria-hidden="true"></i>打印
	                        </button>
                        </div>
					</div>
					<nav id="dh" class="navbar navbar-expand-sm bg-light navbar-light" role = "navigation">
					  <img src="/images/logo.png">
					  <ul class="navbar-nav">
					    <li class="nav-item">
					      <a style="color:#000000;" class="nav-link" href="javascript:cilckoffic('sy')">首页</a>
					    </li>
					    <li class="nav-item">
					      <a style="color:#000000;" class="nav-link" href="javascript:cilckoffic('bgs')">办公室</a>
					    </li>
					    <li class="nav-item">
					      <a style="color:#000000;" class="nav-link" href="javascript:cilckoffic('rlzy')">人力资源</a>
					    </li>
					    <li class="nav-item">
					      <a style="color:#000000;" class="nav-link" href="javascript:cilckoffic('dqgz')">党群工作部</a>
					    </li>
					    <li class="nav-item">
					      <a style="color:#000000;" class="nav-link" href="javascript:cilckoffic('aqjs')">安全技术部</a>
					    </li>
					    <li class="nav-item">
					      <a style="color:#000000;" class="nav-link" href="javascript:cilckoffic('qh')">企划部</a>
					    </li>
					    <li class="nav-item">
					      <a style="color:#000000;" class="nav-link" href="javascript:cilckoffic('wz')">物资部</a>
					    </li>
					    <li class="nav-item dropdown">
					      <a style="color:#000000;" class="nav-link dropdown-toggle" href=""
					        onclick="cilckoffic('ddpw')" id="navbardrop" data-toggle="dropdown">
					      	调度票务部
					      </a>
					      <div class="dropdown-menu">
					        <a style="font-size:20px" class="dropdown-item" href="javascript:cilckoffic('zd')">总调室</a>
					        <a style="font-size:20px" class="dropdown-item" href="javascript:cilckoffic('pw')">票务室</a>
					      </div>
					    </li>
					    <li class="nav-item dropdown">
					      <a style="color:#000000;" class="nav-link dropdown-toggle" href="" 
					        onclick="cilckoffic('ky')" id="navbardrop" data-toggle="dropdown">
					      	客运部
					      </a>
					      <div class="dropdown-menu">
					        <a style="font-size:20px" class="dropdown-item" href="javascript:cilckoffic('zw')">站务室</a>
					        <a style="font-size:20px" class="dropdown-item" href="javascript:cilckoffic('cw')">乘务室</a>
					        <a style="font-size:20px" class="dropdown-item" href="javascript:cilckoffic('cz')">车站</a>
					      </div>
					    </li>
					    <li class="nav-item dropdown">
					      <a style="color:#000000;" class="nav-link dropdown-toggle" href="" 
					        onclick="cilckoffic('cl')" id="navbardrop" data-toggle="dropdown">
					      	车辆部
					      </a>
					      <div class="dropdown-menu">
					        <a style="font-size:20px" class="dropdown-item" href="javascript:cilckoffic('jx')">检修室</a>
					        <a style="font-size:20px" class="dropdown-item" href="javascript:cilckoffic('sb')">设备室</a>
					      </div>
					    </li>
					    <li class="nav-item dropdown">
					      <a style="color:#000000;" class="nav-link dropdown-toggle" href="" 
					        onclick="cilckoffic('jdss')" id="navbardrop" data-toggle="dropdown">
					      	机电设施部
					      </a>
					      <div class="dropdown-menu">
					        <a style="font-size:20px" class="dropdown-item" href="javascript:cilckoffic('gds')">供电室</a>
					        <a style="font-size:20px" class="dropdown-item" href="javascript:cilckoffic('gjs')">工建室</a>
					        <a style="font-size:20px" class="dropdown-item" href="javascript:cilckoffic('jds')">机电室</a>
					        <a style="font-size:20px" class="dropdown-item" href="javascript:cilckoffic('zdh')">自动化室</a>
					        <a style="font-size:20px" class="dropdown-item" href="javascript:cilckoffic('th')">通号室</a>
					      </div>
					    </li>
					  </ul>
					</nav>
					<font size="3" color="#FF0000" class="pull-right" style="margin-top:-10px">最后更新时间：2020-08-01</font>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
	<script type="text/javascript" src="/js/appjs/index.js"></script>
<!-- 打印 页面  隐藏 -->
<script src="/js/plugins/key13.js" language="javascript" type="text/javascript"></script>
<script src="/js/plugins/serch.js" language="javascript" type="text/javascript"></script>
<div style="display:none;">
<!--startprint-->
<div id="a" style="margin: 100px auto;">
<div class="logo"><img src="/images/logo.png"></a></div>
      <div class="addresshead">
	<h1 id="printTital" style="color:#000">徐州地铁运营公司通讯录</h1>
	<span style="color:red;">更新时间:2020年8月1日</span>
</div>
<div class="addresstable">
	<table class="addressbook" width="100%" id="Addresstable">
		<thead id="bookdatatthead">
			
		<thead>
        <tbody id="bookdatatbody">
          
    	<tbody>
	</table>
</div>
</div>
<!--endprint-->
</div>
<script type="text/javascript">
	function bookprint() {
		var bodyhtml = "";
		var headhtml = "";
		$.ajax({
			type : "get",
			url : "/addressbook/getprintAddressbook",
			data : {
				option : $('#option').val(),
				name : $('#name').val(),
				offic : $('#offic').val()
			},
			async : false,
			error : function(request) {
				alert("网络超时");
			},
			success : function(data) {
				if ($('#offic').val() == 'cz') {
					headhtml = '<tr><th width="5%">序号</th><th width="14%">车站</th><th width="8%">车控室</th><th width="10%">姓名</th><th width="12%">职务</th><th width="13%">联系电话</th><th width="8%">集团短号</th><th width="10%">办公电话</th><th width="8%">内线号码</th><th width="12%">QQ</th></tr>'
					for (var i = 0; i < data.length; i++) {
						bodyhtml += '<tr><td>'+data[i].id+'</td><td>'+data[i].cheZhan+'</td><td>'+data[i].cheKongShi+'</td><td>'+data[i].name+'</td><td>'+data[i].office+'</td><td>'+data[i].mobile+'</td><td>'+data[i].shortMobile+'</td><td>'+data[i].landline+'</td><td>'+data[i].shortLandline+'</td><td>'+data[i].qq+'</td></tr>';
					}
				} else {
					headhtml = '<tr><th width="6%">序号</th><th width="8%">姓名</th><th width="18%">职务</th><th width="19%">办公室</th><th width="13%">联系电话</th><th width="8%">集团短号</th><th width="10%">办公电话</th><th width="8%">内线号码</th><th width="10%">QQ</th></tr>'
					for (var i = 0; i < data.length; i++) {
						bodyhtml += '<tr><td>'+data[i].id+'</td><td>'+data[i].name+'</td><td>'+data[i].job+'</td><td>'+data[i].office+'</td><td>'+data[i].mobile+'</td><td>'+data[i].shortMobile+'</td><td>'+data[i].landline+'</td><td>'+data[i].shortLandline+'</td><td>'+data[i].qq+'</td></tr>';
					}
				}
				$("#bookdatatthead").append(headhtml);
				$("#bookdatatbody").append(bodyhtml);
			}
		})     
		preview();
		window.location.reload();
	};
	
	$('#name').bind('keypress', function (event) {
		var o = $('#option').val();
		if (o == 0) {
			layer.msg('请选择搜索项');
			return;
		}
		var n = $('#name').val();
		if (n == '' || n == null) {
			layer.msg('请输入搜索内容');
			return;
		}
	    if (event.keyCode == "13") {
	        reLoad();
	    }
	});
	
	function query() {
		var o = $('#option').val();
		if (o == 0) {
			layer.msg('请选择搜索项');
			return;
		}
		var n = $('#name').val();
		if (n == '' || n == null) {
			layer.msg('请输入搜索内容');
			return;
		}
	    reLoad();
	};
</script>
</body>
</html>
    