<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>登录</title>
    <link rel="icon" type="image/x-icon" href="http://download.fengyouhui.net/fyh_wbsite/favicon.png">
    <link rel="stylesheet" href="http://download.fengyouhui.net/casecollection/css/reset.css?v=9">
    <link rel="stylesheet" href="http://download.fengyouhui.net/casecollection/css/cvc_login.css?v=9">
</head>

<body>
<div class="banner"></div>
<div class="main-wrap">
    <div class="main">
        <div class="qrcode-wrap" id="qrcode">
            <img  src="" alt="" class="img">
            <p class="tit">微信授权扫码登录</p>
        </div>
        <img class="logo" src="http://download.fengyouhui.net/casecollection/images/logo.png?v=9" alt="logo">
        <div class="img-wrap">
            <div class="item">
                <img class="img-01" src="http://download.fengyouhui.net/casecollection/images/cvc/img_01.png?v=9" alt="图片1">
                <img class="img-02" src="http://download.fengyouhui.net/casecollection/images/cvc/img_02.png?v=9" alt="图片2">
            </div>
            <div class="item">
                <img class="img-03" src="http://download.fengyouhui.net/casecollection/images/cvc/img_03.png?v=9" alt="图片3">
                <img class="img-04" src="http://download.fengyouhui.net/casecollection/images/cvc/img_04.png?v=9" alt="图片4">
            </div>
            <div class="item">
                <img class="img-05" src="http://download.fengyouhui.net/casecollection/images/cvc/img_05.png?v=9" alt="图片5">
                <img class="img-05" src="http://download.fengyouhui.net/casecollection/images/cvc/img_06.png?v=9" alt="图片6">
            </div>
        </div>
    </div>
</div>
<div class="footer-wrap hidden">
    <div class="footer">@2018&nbsp;&nbsp;万邦医药版权所有</div>
</div>

<script src="http://download.fengyouhui.net/casecollection/js/jquery-2.1.0.js"></script>
<script>

    var intervalTime = 3000;
    var hasQrCode = false;
    //获取登录二维码
    function getQrcode(){
        $.ajax( {
            url:"/user/qrCode",
            type:'post',
            dataType:'json',
            data:{
                loginType:"CVC"
            },
            success:function(res) {
                if(res.success===true){
                    var imgUrl = res.data.qrcode;
                    hasQrCode = true
                    $("#qrcode").find("img").attr("src",imgUrl);
                }else{
                    alert(res.data.errmsg)
                }
            },
            error:function() {
                alert(res.data.errmsg)
            }
        });
    }

    //检测登录
    function checkLogin(){
        $.ajax( {
            url:"/user/login",
            type:'post',
            dataType:'json',
            success:function(res) {
                if(res.success===true){
                    window.location.href= 'upload';
                }else{
                    console.log(res.data.errmsg)
                }
            },
            error:function() {
                alert(result.msg)
            }
        });
    }

   $(function(){
        getQrcode();
        setInterval(function () {
            if(hasQrCode){
                checkLogin();
            }
        },intervalTime);
    })
</script>
</body>
</html>
    