<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>上传文件</title>
    <link rel="icon" type="image/x-icon" href="http://download.fengyouhui.net/fyh_wbsite/favicon.png">
    <link rel="stylesheet" href="http://download.fengyouhui.net/casecollection/css/reset.css?v=2">
    <link rel="stylesheet" href="http://download.fengyouhui.net/casecollection/css/upload.css?v=2">
</head>

<body>

<div class="header-wrap">
    <div class="header">
        <div class="left h1">
            病例收集系统
        </div>
        <div class="right ">
            <span id="userName"></span>
            <span class="btn-logout" id="btnLogout">退出系统</span>
        </div>
    </div>
</div>


<div class="main">

    <div class="upload">
        <h3>CVC病例上传<span>截止时间：2019-04-30</span></h3>
        <p>操作说明：</p>
        <div class="list line">
            <ul>
                <li>
                    <span class="btn-w100" id="btnDownloadTemp">
                        <a href="/casecollection/download/病例模板.ppt">点击这里下载PPT模板</a>
                    </span>
                </li>
                <li>
                    按照PPT模板填写患者病例
                </li>
                <li>
                    将PPT以“医院名+姓名”的格式命名
                </li>
                <li>
                    上传病例
                </li>
            </ul>
        </div>
        <div class="progress  clearfix">
            <div class="left">
                <img src="about:blank" class="portrait" alt="头像">
            </div>
            <div class="mid">
                <p class="person-info"></p>
                <p class="progress-bar">
                    <span style="width: 0%"></span>
                </p>
            </div>
            <div class="right progress-bar-text">
            </div>
        </div>
        <div class="btn-w80 btn-upload hidden">
            上传病例
            <form action="/casecollection/collection/uploadppt" method="post" enctype="multipart/form-data" id="uploadForm" class="upload-form">
                <input class="btn-upload-ppt" name="file" type="file" id="btnUploadPPT" />
            </form>
        </div>
        <div class="confirm hidden clearfix">
            <span class="btn-w40 white" onclick="$('#detPptPop').fadeIn(100);">删除</span>
            <span class="btn-w40">
                <a href="" class="uploaded-ppt-url">下载</a>
            </span>
        </div>
    </div>
</div>

<div class="fixed-page mask pop hidden" id="detPptPop">
    <div class="align-c box">
        确定删除病例重新上传
        <p class="clearfix btn-wrap">
            <span class="btn-w40 white pull-l" onclick="$(this).closest('.pop').fadeOut(100)">取消</span>
            <span class="btn-w40 pull-r" id="btnDeletePPT">确认</span>
        </p>
    </div>
</div>

<script src="http://download.fengyouhui.net/casecollection/js/jquery-2.1.0.js"></script>
<script src="http://download.fengyouhui.net/casecollection/js/jquery.form.min.js"></script>
<script type="text/javascript" charset="utf-8">

    //获取个人信息
    function personDetail(){
        $.ajax( {
            url:"/casecollection/collection/personDetail",
            type:'post',
            dataType:'json',
            success:function(res) {
                if(res.success===true){
                    if(res.data.person){
                        var person = res.data.person;
                        var name = person.trueName;
                        var pptUrl =  person.pptUrl;

                        $("#userName").text("您好,"+ name);
                        $(".person-info").html(person.hospital+"  "+person.trueName);
                        $(".portrait").attr("src",person.portrait);

                        if(pptUrl){
                            $(".progress-bar").find("span").css("width","100%");
                            $(".progress-bar-text").html("上传完成");
                            $(".uploaded-ppt-url").attr("href","https://fyhcollection.oss-cn-hangzhou.aliyuncs.com/ppt/"+pptUrl);
                            $(".confirm").show(30);
                        }else{
                            $(".btn-upload").show(30);
                        }

                    }
                }else{
                    alert(res.data.errmsg)
                    window.location.href ="index"
                }
            },
            error:function() {
                alert('network error')

            }
        });
    }

    //文件上传
    function uploadppt(fileData){

        var time=new Date().getTime();
        var percentage =null;

        $.ajax( {
            url:"/casecollection/collection/uploadppt",
            type:'post',
            dataType:'json',
            data:fileData,
            contentType: false,
            processData: false,
            success:function(res) {
                if(res.success===true){
                    alert('ppt上传成功');
                    window.location.reload(true)
                }else{
                    alert(res.msg)
                }
            },
            xhr: function xhr() {
                //获取原生的xhr对象
                var xhr = $.ajaxSettings.xhr();
                if (xhr.upload) {
                    xhr.upload.addEventListener('progress', function (e) {
                        var nowDate = new Date().getTime();
                        if (nowDate - time >= 1000) {
                            percentage = parseInt(e.loaded / e.total * 100);
                            console.log(percentage);
                            $(".progress-bar").find("span").css("width",percentage+"%");
                            $(".progress-bar-text").html("正在上传"+percentage+"%");
                            if (percentage >= 99) {
                                console.log.html('服务端正在解析，请稍后');
                            } else {
                                time = nowDate;
                            }
                        } else {
                            return;
                        }
                    }, false);
                }
                return xhr;
            },
            error:function() {
                alert('network error')
            }
        });
    }

    //文件删除
    function delppt(){
        $.ajax( {
            url:"/casecollection/collection/delppt",
            type:'post',
            dataType:'json',
            success:function(res) {
                if(res.success===true){
                    window.location.reload(true)
                }else{
                    alert(res.data.errmsg)
                }
            },
            error:function() {
                alert('network error')
            }
        });
    }

    $(function () {

        //获取信息
        personDetail()

        $("#btnLogout").on("click",function () {
            window.location.replace("index");
        })

        //下载ppt
        $("#btnDownloadTemp").on("click",function () {
            downloadppt();
        })

        //删除ppt
        $("#btnDeletePPT").on("click",function () {
            delppt();
        })


        //上传文件
        $("#btnUploadPPT").on('change', function () {
            var file = $(this)[0].files[0];
            var size = file.size;
            if (!file) {
                return;
            }
            if(!new RegExp("powerpoint").test(file.type)){
                alert("请上传PPT格式的文件");
                return;
            }
            if (size > 50 * 1024 * 1000) {
                alert("该文件过大，请简化<br/>至50M以下再重新上传");
                return;
            }
            var formData = new FormData();
            formData.append("file", file);
            uploadppt(formData);

            //解决上传相同文件不触发onchange事件
            $("btnUploadPPT").val("");
            var clone = this.cloneNode(true);
            clone.onchange = arguments.callee; //克隆不会复制动态绑定事件
            clone.value = '';
            this.parentNode.replaceChild(clone, this);
        });


    })
</script>

</body>
</html>